<p id="notice"><%= notice %></p>

<h1>
  <%= @advert.title %>
</h1>

<p>
  <%= markdown(@advert.content) %>
</p>

 <% if current_user && current_user.admin? %>
<%= link_to 'Править', edit_advert_path(@advert) %> 
<% end %>
